body{
    background: #272d37;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; margin: auto;
}
.pcs
{
    zoom: 80%;
}

.pc
{
    width: 1350px;
    margin: auto;
}

.bgPadding{
    max-width: 1000px;
    margin: 0 auto;
    background: #272d37;
    padding: 10px 0 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(0px);
    
    
}

.product
{
    zoom: 80%;
    margin-top: 3%;
}

.z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(47, 110, 165, 0.14), 0 9px 46px 8px rgba(47, 110, 165, 0.12), 0 11px 15px -7px rgba(47, 110, 165, 0.2);
    border-radius: 50px 0px 0px 50px;
    transition: 0.3s;
}

.product .product_game
{
    position: relative;
    height: 400px;
    width: 640px;
    /* background-color: rgb(47, 110, 165);
    background-color: rgb(43, 82, 120);
    background-color: rgb(65, 159, 217);
    background-color: rgb(64, 167, 227);*/
    background-color: rgb(47, 110, 165);
    border-radius: 50px 0px 0px 50px;
    transition: 0.3s;
}

/* .product .product_image
{
    height: 500px;
    width: 640px;
} */

.product .product_game .product_title
{
    color: white;
    position: absolute;
    top: -10px;
    left: 70px;
    transition: 0.3s;
}

.product .product_game .product_desc
{
    color: rgb(218, 218, 218);
    font-size: 2rem;
    position: absolute;
    top: 45px;
    left: 36px;
    transition: 0.3s;
}

.product .product_game .product_price
{
    color: rgb(218, 218, 218);
    font-size: 1.8rem;
    position: absolute;
    top: 280px;
    left: 70px;
    transition: 0.3s;
}

.product .product_cheat
{
    height: 400px;
    width: 640px;
}

.product .product_cheat .cheat_image
{
    height: 400px;
    width: 640px;
}

.product_game:hover, .z-depth-5:hover
{
    background-color: rgb(48, 118, 180);
    box-shadow: 0 24px 38px 3px rgba(47, 110, 165, 0.14), 0 9px 46px 8px rgba(47, 110, 165, 0.12), 0 11px 15px -7px rgba(47, 110, 165, 0.2);
    border-radius: 60px 0px 0px 60px;
}

.product:hover .product_title {
    font-size: 4.5rem
}

.product:hover .product_desc {
    font-size: 2.2rem
}

.product:hover .product_price {
    font-size: 2rem
}

.product:hover .product_game {
    background-color: #3076b4;
    box-shadow: 0 24px 38px 3px rgba(47, 110, 165, 0.14), 0 9px 46px 8px rgba(47, 110, 165, 0.12), 0 11px 15px -7px rgba(47, 110, 165, 0.2);
    border-radius: 60px 0px 0px 60px;
}

.product .product_game .product_support
{
    color: rgb(184, 184, 184);
    position: absolute;
    top: 350px;
    left: 180px;
}

.row .col {
    padding: 0;
}


.nav-wrapper , .navbar-dark{
    background: #38404e;
    
}
.right.hide-on-med-and-down{
    margin-right: 23%;
}

.page-footer{
    background: #38404e;
}
.brand-logo{
    left: 23.5%;
    top: 10%;
}
.card.large{
    border: 1px;
}
.section,.text{
    background: #272d37;
    color: white;
}
p{
    color: black
}
.border-b-gradient {
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, #090979 0%, #00d4ff 100%);
    margin-left: auto;
    margin-right: auto;
}
.header_left{
    float: left;
    height: 50px;
    width: 300px;
    text-align: center;
    
}
.header_right{
    float: right;
    margin-right: 5%;
    background: linear-gradient(90deg, #090979 0%, #00d4ff 100%);
    height: 50px;
    width: 300px;
    text-align: center;
}
i.large {
    font-size: 12rem;
    margin: 40px 0;
    color: #ee6e73;
    display: block;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color:rgb(48, 163, 230);
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:rgb(48, 163, 230);
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #fff;
    background-color:rgb(48, 163, 230);
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: rgb(65, 159, 217);
}

.pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    animation: pulse-animation 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pulse-animation;
    z-index: -1;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

.profile_content
{
    margin-top: 3%;
    color: white;
}

.profile_top
{
    padding-left: 300px;
}

.profile_img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease
}

.profile_img:hover {
    transform: scale(1.05);
    cursor: pointer
}

.profile_img:hover .profile-pic {
    opacity: .5
}

.profile_img .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease
}

.profile_img .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center
}

.profile_img .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.profile_img .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 270px;
    top: -5px;
    left: -8px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #ffffff
}

.profile_img .upload-button:hover .fa-arrow-circle-up {
    opacity: .9
}

.profile_data
{  
    margin-left: 400px;
    height: 300px;
    width: 600px;
}

.profile_data_
{  
    padding-top: 30px;
}

.profile_input
{
    color: white;
    placeholder:;
    width: 200px;
}

#password, #password2
{
    color: white;
}

.profile_input::placeholder 
{
    color: red;
}

.profile_line
{
    margin-left: 150px;
    width: 980px;
    border-bottom: 3px solid rgb(56,64,78);
    position: absolute;
}

.profile_products
{
    margin-top: 70px;
    margin-bottom: 90px;
    color: white;
    display: flex;
    flex-direction:row;
}

.profile_product
{
    border: solid rgb(0,230,118) 3px;
    background-color: rgba(47, 110, 165, 0.14);
    width: 235px;
    height: 320px;
    margin-left: 24%;
    display: table-cell;
    box-shadow: 0 10px 38px 3px rgba(0,230,118, 0.12), 0 9px 46px 8px rgba(0,230,118, 0.10), 0 11px 15px -7px rgba(0,230,118, 0.2);
    border-radius: 30px;
    transition: 0.3s;
}

.profile_product:hover
{
    border-radius: 35px;
    border: solid rgb(0,240, 124) 3px;
    box-shadow: 0 10px 38px 3px rgba(0, 240, 124, 0.20), 0 9px 46px 8px rgba(0,240, 124, 0.15), 0 11px 15px -7px rgba(0,240, 124, 0.2);
}

.profile_product_negative
{
    border: solid rgb(255,23,68) 3px;
    background-color: rgba(47, 110, 165, 0.14);
    width: 235px;
    height: 320px;
    margin-left: 35%;
    display: table-cell;
    box-shadow: 0 10px 38px 3px rgba(255,23,68, 0.12), 0 9px 46px 8px rgba(255,23,68, 0.10), 0 11px 15px -7px rgba(255,23,68, 0.2);
    border-radius: 30px;
    transition: 0.3s;
}

.profile_product_title
{
    color: white;
    font-size: 2.3vh 2.3vw;
    text-align: center;
    width: 230px;
    height: 40px;
}

.profile_product_img
{
    width: 229px;
    height: 150px;
}

.profile_product_status
{
    color: white;
    padding-left: 62.5px;
    text-align: center;
}

.profile_product_dates
{
    padding-right: 10px;
}

.profile_product_date
{
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    color: white;
}

.profile_product_date2
{
    text-align: center;
    font-size: 15px;
    margin-top: -2px;
    color: white;
}


.admin_users_table
{

    width: 1000px;
    color: white;
    padding: auto;
}

.sidenav
{
    color: white;
    background-color: #38404e;
    top: auto;
}

.sidenav li>a {
    color: rgb(255, 255, 255);
}